.ctl {
	position: fixed;
	z-index: 100;
} 
.ui-page-theme-a .ctl-btn, .ctl-btn {
	width: 36px;
	height: 36px;
	border-radius: .6em;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:hover {
	font-size: 14px;
	background-color: #181f4a;
	color: white;
	text-shadow: none;
}
.ui-page-theme-a .ui-btn:hover {
	background-color: #0a99c8;
}
.ctl-btn.ui-btn:after, .ctl-btn.ui-btn:hover:after {
	background-color: transparent;
	background-size: 19px;
}
.noshow{
	display: none;
}
