html, body {
	overflow: hidden;
}
html, body, .ui-mobile .ui-page-active, #main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ui-page-theme-a {
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: none;
	color: #181f4a;
}
#main {
	width: 100%;
	height: 100%;
}
#map {
	position: fixed;
	width: calc(100% - 320px);
	bottom: 0;
	top: 44px;
}
span.noshow {
	display: none;
}
.capitalize{
	text-transform: capitalize;
}
#download-vcard {
	display: none;
}

/* ========================== begin panel ======================== */

#panel {
    position: fixed;
    width: 320px;
    top: 44px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    box-shadow: 5px 10px 20px 5px rgba(24,31,74,0.5);
    padding: 0;
    background-color: white;
}
#panel-content {
	background-color: #e4f7fe;
	height: 100%;
}
#tabs {
	padding: 0;
	height: 100%;
}
#tabs .ui-navbar a {
	height: 20px;
	padding: 13px 0 9px;
	font-size: 14px;
}
#tabs .ui-navbar li {
	width: 50%;
}

/* =========================== end panel ========================= */


/* ======================= begin first load ======================== */

#first-load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	z-index: 1000000;
}
#first-load td {
	text-align: center;
}
#first-load img {
	width: 220px;
	height: 75px;
}
#first-load p {
	font-size: 34px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: -14px;
}

/* ======================= end first load ======================== */


/* ========================= begin intro ========================= */

div#intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
}
div.intro-cont {
	width: 280px;
	background-color: #e4f7fe;
	margin: 50px auto;
	padding: 5px;
	border: 2px solid #181f4a;
	border-radius: 0.6em;
}

/* =========================== end intro ========================= */


/* ======================== begin splash ========================= */

#splash, #click-blocker {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 44px;
	left: 0;
	bottom: 0;
	right: 0;
}
#splash{
	background-color: #e4f7fe;
	background-image: url(../img/bkg.jpg);
	overflow-y: auto;
	overflow-x: hidden;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #0a99c8;
}
@media screen and (orientation: landscape) {
	#splash {
		background-size: 100% auto;
	}
}
@media screen and (orientation: portrait) {
	#splash {
		background-size: auto 100%;
	}
}
#splash-cont {
	margin: auto;
	width: 320px;
	padding-bottom: 20px;
	display: none;
}
#translate-container {
	width: 100%;
	height: 45px;
	margin-bottom: 5px;
}
#filter-btn {
	margin: 20px 10px 0 10px;
}

/* ========================= end splash ========================== */


/* ========================= begin banner ======================== */

div.banner {
	background-color: #0a99c8;
	position: fixed;
	z-index: 2000;
	color: white;
	border-bottom: none;
}
.banner {
	height: 44px;
	width: 100%;
	top: 0;
	left: 0;
	border-top: none;
	overflow: hidden;
}
.banner-logo {
	height: 24px;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: 10px;
}
.banner h1 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.banner h1 {
	color: white;
	margin: -4px 0 0 0;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	position: absolute;
	left: 80px;
	top: 11px;
	right: 3px;
}
#dir-page .banner h1 {
	right: 155px;
}
#map-page .ui-content, #dir-page .ui-content {
	overflow: hidden;
	position: fixed;
	top: 44px;
	bottom: 0;
	width: 100%;
}

/* ========================== end banner ========================= */


/* ===================== begin other buttons ===================== */

.ui-btn span {
	color: white;
}
.ui-btn:after {
	background-color: white;
}
.ui-icon-carat-d:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%233b4c5e%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E")
}
.ui-icon-carat-d:hover:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%230a99c8%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E")
}
.ui-icon-arrow-l:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%233b4c5e%22%20points%3D%227%2C5%207%2C0%200%2C7%207%2C14%207%2C9%2014%2C9%2014%2C5%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.ui-icon-arrow-l:hover:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%230a99c8%22%20points%3D%227%2C5%207%2C0%200%2C7%207%2C14%207%2C9%2014%2C9%2014%2C5%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
#alert .ui-btn {
	width: 44px;
	height: 44px;
	padding: 12px 0;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	text-shadow: none;
	color: white;
	border-radius: 0.6em;
	background-color: rgb(59, 76, 94);	
}
#alert .ui-btn:hover {
	background-color: #0a99c8;
}
.ui-btn.ui-corner-all {
	border-radius: 0.6em;
}
a.hdr-btn.ui-btn {
	margin-top: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.ui-page-theme-a .ui-navbar a.ui-btn {
	background-color: white;
	color: #181f4a;
}
.ui-page-theme-a .ui-navbar a.ui-btn:hover {
	background-color: #0a99c8;
	border-color: #0a99c8;
	color: white;
}
.ui-page-theme-a .ui-navbar .ui-btn.ui-btn-active {
	background-color: #181f4a;
	color: white;
}
.ui-page-theme-a button.continue {
	background-color: #0a99c8;
	color: white;
}
.ui-page-theme-a button.continue:hover {
	background-color: #181f4a;
}

/* ====================== end other buttons ====================== */


/* ========================= begin filters ======================= */

#filter-tab, #directions {
	overflow: auto;
}
div#filters {
	width: 100%;
}
div#filters label {
	font-weight: bold;
}
#filter-tab div#filter-btn {
	display: none;
}
div#filters .ui-btn {
	margin-left: 10px;
	margin-right: 10px;
}

/* ========================== end filters ======================== */


/* ========================== begin list ========================= */

#facility-tab, #filter-tab {
	height: calc(100% - 30px);
}
#facility-list {
	height: calc(100% - 30px);
	overflow-x: hidden;
	overflow-y: auto;
	border-top: 1px solid #ddd;
}
div.list-more {
	padding: 5px;
}
div.inf-list {
	border-color: rgba(59, 76, 94, 0.3);
}
div.inf-list:first-of-type {
	border-top: none;
}
.inf-name {
	font-weight: bold;
}
div.btn-grp, div.btn-grp .ui-controlgroup-controls {
	width: 100%;
}
.inf-pop div.btn-grp, .inf-pop div.btn-grp .ui-controlgroup-controls {
	width: 105%;
}
.ui-page-theme-a div.btn-grp .ui-controlgroup-controls a {
	padding-left: 0;
	padding-right: 0;
	margin-left: 3px;
	border-radius: 0.6em;
	border: 1px solid rgba(59, 76, 94, 0.3);
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px 0px;
}
.ui-page-theme-a div.btn-grp.grp-map .ui-controlgroup-controls a {
	width: calc(33% - 5.67px);
}
.inf-pop a.inf-dir, .inf-pop a.inf-detail {
	width: calc(50% - 7px) !important;
}
a.inf-phone {
	width: calc(60% + 4px);
}
a.inf-vcard {
	width: calc(40% - 18px);
}
.inf-list a.inf-map, .inf-list a.inf-phone {
	margin-left: 0 !important;
}
.inf-list .vcard-big {
	margin-left: 0 !important;
	width: calc(100% - 10px) !important;
}
.inf-pop .vcard-big {
	margin-left: -3px !important;
	width: calc(100% - 9px) !important;
}
.inf-pop a.inf-dir, .inf-pop a.inf-phone {
	margin-left: -3px !important;
}
div.inf-list {
	padding: 5px 5px 0 5px;;
}
.odd-row {
	background-color: white;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
a[href^="tel:"]:before {
    content: "\260E";
    margin-right: 0.5em;
}
.inf-facility ul {
	display: none;
	border: 1px solid rgba(59, 76, 94, 0.3);
	border-radius: 0.6em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	margin: 0 10px 0 0;
}
.even-row ul {
	background-color: #e4f7fe;
}
.inf-facility li {
	margin-left: -15px;
	margin-right: 5px;
}
li.inf-web div {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 247px;
	margin: 0 0 -3px 0;
}
li.inf-res, li.inf-in {
	color: red;	
}

/* =========================== end list ========================== */


/* ========================= begin alert ========================= */

#alert {
	position: relative;
	margin: 100px auto;
	width: 303px;
	border-radius: 0.6em;
	border: 1px solid lightgrey;
	box-shadow: 5px 10px 20px 5px rgba(24,31,74,0.9);
	display: none;
	background-color: white;
	padding: 5px;
	z-index: 1000;
	min-height: 74px;
}
#alert-msg {
	text-align: center;	
	margin: 0 0 5px 0;
}

/* ========================== end alert ========================== */


/* ======================= begin copyright ======================= */

#copyright {
	position: fixed;
	right: 0;
	bottom: -1px;
	z-index: 2000;
	font-size: 12px;
	padding: 0 3px;
	color: white;
}

/* ======================== end copyright ======================== */


/* ===================== begin media queries ===================== */

@media only screen and (max-height: 350px) {
	#map-page .ui-content {
		z-index: 1000;
		top: 88px;
	}
}
@media only screen and (max-width: 350px) {
	#map-page .ui-content {
		z-index: 1000;
		top: 88px;
	}
}
@media only screen and (max-width : 380px) {
	.banner h1 {
		font-size: 14px !important;
		top: 17px;
	}
	div#filter-tab div#filters {
		border: none;
	}	
}
@media only screen and (max-width : 495px), screen and (max-height: 350px) {
	#panel, #map {
		width: 100%;
	}
	#map, #main {
		top: 88px;
	}
	#tabs .ui-navbar li {
		width: 33%;
	}
	#map .ctl {
		margin-top: 52px;
	}
	#fld-srch-container.ctl {
		margin-top: 45px;
	}
}

/* ====================== end media queries ====================== */
