.ol-control {
	display: none;
}
#btn-z-in {
	left: 3px;
	top: 43px;
}
#btn-z-in:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
#btn-z-out {
	background-image: url();
	left: 3px;
	top: 85px;
}
#btn-z-out:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20y%3D%225%22%20style%3D%22fill%3A%23fff%3B%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3C%2Fsvg%3E");
}
#btn-geo {
	left: 3px;
	top: 127px;
	background-image: url(../img/geo.png);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
#fld-srch-container {
	position: fixed;
	top: 43px;
	left: 40px;
	right: 3px;
	max-width: 400px;
	padding: 0 5px;
}
#fld-srch-container .ui-input-search {
	opacity: 1;
}
#fld-srch-container .ui-input-search.ui-focus {
	opacity: 1;
}
#fld-srch-container .ui-corner-all {
	border-radius: 0.6em;
}
#fld-srch-container input {
	font-size: 17px;
}
#fld-srch-container .ui-input-clear:after {
	background-color: rgba(24,31,74,0.5);
}
#fld-srch-container .ui-input-clear:hover:after {
	background-color: rgb(24,31,74);
}
#fld-srch-container a.ui-input-clear {
	border: none;
	border-radius: 22px;
	background-color: transparent;
	width: 22px;
	height: 22px;
	margin: -11px 6px 0 0;
}
.ui-input-search:after {
	color: rgba(24,31,74,0.5);
}
#fld-srch-container a.searching:after {
	background-image: url(../img/searching.gif);
	background-size: 13px;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	background-color: white;
	color: rgb(24,31,74);
}
.ui-listview>.ui-li-static:hover {
	background-color: rgba(24,31,74,0.5);
	color: white;
}
#fld-srch {
	width: 100%;
	max-height: 400px;
	box-shadow: 0 1px 3px rgba(24,31,74,0.5);
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3000;
}
#fld-srch {
	margin-top: -2px;
}
#fld-srch-retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
@media only screen and (max-width : 800px) {
	#fld-srch-container {
		max-width: calc(100% - 370px);
	}
}
@media only screen and (max-width : 405px) {
	#fld-srch-container {
		max-width: 350px;
		width: auto;
		right: 0;
	}
}

